@font-face {
  font-weight: 400;
  font-family: "Megafon";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/MegaFonGraphikLCReg.woff2") format("woff2"), url("../fonts/MegaFonGraphikLCReg.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Megafon";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/MegaFonGraphikLCMed.woff2") format("woff2"), url("../fonts/MegaFonGraphikLCMed.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Megafon";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/MegaFonGraphikLCBold.woff2") format("woff2"), url("../fonts/MegaFonGraphikLCBold.woff") format("woff");
}
