*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: $mobile-width;
  margin: 0 auto;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: $font;
  color: $main-text;
}

@keyframes mousein {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg) scale(1);
  }

  to {
    transform: rotate(90deg) scale(1.2);
  }
}

@keyframes mouseout {
  from {
    transform: rotate(90deg) scale(1.2);
  }

  50% {
    transform: rotate(90deg) scale(1);
  }

  to {
    transform: rotate(0deg) scale(1);
  }
}
